h1
{
text-align: center;
color: #d5f4ff;
}
body

{
	background-color: #ff95a9;
     
}


p{
				color: #ffffff;
				 
}

h3{
				color: #caffaa;
}

img {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

